extends layout

block content
    div(class='horizontal-stack')
        h1 Welcome to node-yt!
        h1
            a(href='/upload') Upload
    h2 Videos:

    if video_list.length
        each v in video_list
            h4
                a(href='/watch?id=' + v.id) #{v.name}
    else
        h4 Nothing available right now
